<!DOCTYPE html>
<html>
    <head>
        <title>The Legend of Drizzt</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="layout">
            <navbar id="navbar"></navbar>
            <main id="main-content"></main>
            
            <sidebar id="sidebar">
            </sidebar>
        </div>
        <script type="module" src="../js/router.js"></script>
        <script src="../js/sidebar.js"></script>
        <script src="../js/navbar.js"></script>
        <script type="module" src="../js/cookies.js"></script>
        <script type="module" src="../js/theme.js"></script>
        <script type="module" src="../js/settings.js"></script>
</html>